{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row text-center">
        <div class="col-sm-6 col-lg-4">
        </div>
        <div class="col-sm-6 col-lg-4">
        </div>
        <div class="col-sm-6 col-lg-4">
        </div>
    </div>
{% endblock %}