<footer class="clearfix footer-fixed">
    <div class="pull-right">
        Crafted by Nicolas Balligand, Justine GROLEAU, Thomas PERRISSIER & Gwendoline GOMEZ</a>
    </div>
    <div class="pull-left">
        <span id="year-copy"></span> &copy; Freedom slaves
    </div>
</footer>