<footer class="clearfix footer-fixed">
    <div class="pull-right">
        Crafted with <i class="fa fa-heart text-danger"></i> by Gwendoline GOMEZ & Jérémie BARTOLI</a>
    </div>
    <div class="pull-left">
        <span id="year-copy"></span> &copy; Freedom slaves
    </div>
</footer>