
<div id="sidebar">
    <!-- Wrapper for scrolling functionality -->
    <div id="sidebar-scroll">
        <!-- Sidebar Content -->
        <div class="sidebar-content">
            <!-- Brand -->
            <a href="{{ path('homepage') }}" class="sidebar-brand">
                <i class="gi gi-flash"></i><span class="sidebar-nav-mini-hide"><strong>LEA</strong></span>
            </a>

            <ul class="sidebar-nav">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="gi gi-stopwatch sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Accueil</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="gi gi-stopwatch sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Utilisateurs</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="gi gi-stopwatch sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Utilisateurs</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>