<ul id="main-menu" class="main-menu">
    <li class="root-level">
        <a href="{{ path('homepage') }}">
            <i class="entypo-database"></i>
            <span class="title">Accueil</span>
        </a>
    </li>
    <li class="root-level">
        <a href="{{ path('users_index') }}">
            <i class="entypo-users"></i>
            <span class="title">Users</span>
        </a>
    </li>
    <li class="root-level">
        <a href="{{ path('questions_index') }}">
            <i class="entypo-search"></i>
            <span class="title">Questions</span>
        </a>
    </li>
</ul>