{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <h3>{{ questionnaire.description }}</h3>
    {% for question in form.questions %}
        <h4>{{ question.vars.value.description }}</h4>
        {% if question.vars.value.typeQuestion == 1 %}
            {{ form_widget(question.children.description, { 'attr': {'cols': '150', 'rows': '5'} }) }}
        {% elseif question.vars.value.typeQuestion == 2 %}
            {{ form_widget(question.children.choix) }}
        {% endif %}
    {% endfor %}
{% endblock %}