{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-md-8">
        <h2>Création d'un choix</h2>
        <br>
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

        {{ form_start( form ) }}
        {{ form_end( form ) }}
    </div>
</div>
{% endblock %}