{% block body %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
<form id="formDocumentUpdated" action="{{ path('document_save', {'id':entity.id}) }}" name="formDocumentUpdated" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
            Modifier document
        </h4>
    </div>
    <div class="modal-body">
        <div>
            {{ form_rest(form) }}
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnUpdateDoc"  class="btn btn-default">Enregistrer</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
    </div>
    {{ form_end(form) }}
{% endblock %}