/**
 *
 * Apply Here your Custom CSS
 *
*/

.panel-heading.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content:"\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    position: relative;
    bottom: 23px;
    font-size: 15pt;
    /* adjust as needed */
    color: grey;
    /* adjust as needed */
}
.panel-heading.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\e080";
    /* adjust as needed, taken from bootstrap.css */
}

.panel-heading:hover {
    cursor: pointer;
}

#accordionQuestionnaires .panel-title{
    font-size:15px;
    font-weight:bold;
}

.nav-tabs{
    border-bottom: 3px solid #ddd;
}

.list-group-item{
    padding: 2px 15px;
}

.glyphiconLarge{
    font-size:large;
}

.informUrgent{
    color: #e74c3c;
}

.informMoyenUrgent{
    color: #d27810;
}

.informNonUrgent{
    color: #82bb42;
}

.form-horizontal .radio{
    display: inline;
}

.radio label{
    padding-left:34px;
}

#debloquerQuestionnaire{
    display:inline;
}

#contactsSideBar{
    margin-top: 380px;
    margin-left: 27px;
    color: #BCBDCE;

}

.periodEntreprise{
    background: #FFC000;
    color: white;
}

.periodCours{
    background: #00B0F0;
    color: white;
}

.carreEntreprise{
    color: #FFC000;
}

.carreCours{
    color: #00B0F0;
}

.msgError{
    color:#a94442;
    background-color:#f2dede;
}
.msgSuccess{
    background-color:#dff0d8;
    color:#3c763d;
}

.cursor{
    cursor: pointer;
}