{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <a href="{{ path('user_index') }}" class="btn btn-default btn-md">
        <i class="entypo-reply"></i>
        <span class="title">Retour à la liste</span>
    </a>
    <div class="row">
        <div class="col-md-8">
            <h2>Modification de l'utilisateur</h2>
            <br>
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

            {{ form_start( form ) }}
            {{ form_end( form ) }}
        </div>
    </div>
{% endblock %}