{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h2>Création d'une question</h2>
            <br>
            {% form_theme formQuestion 'bootstrap_3_horizontal_layout.html.twig' %}

            {{ form_start( formQuestion ) }}
            {{ form_end( formQuestion ) }}
        </div>
    </div>
{% endblock %}